{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^styles/(.*)$",
    "^atoms/(.*)$",
    "^components/(.*)$",
    "^pages/(.*)$",
    "^service/(.*)$",
    "^store/(.*)$",
    "^queries/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
